body {
        background-color:#FFFFFF;
      }

      h1 {
        color: #001FFF;
        font-size: 45px;
        font-style: normal;
        text-align: center;
        font-family: 'Hepta Slab', serif;
      }
      h3 {
        color: #FF8E06;
        font-size: 20px;
        text-align: center;
        font-family: proxima;
      }

      /*
      img {
        background-color: white;
      }

      */


hr {
        background-color:##ff7373;
        border-style: double;
        height: 2px;
      }
img {
   position: relative;
   left: 380px;
}

li {
  text-align: left;
}

p {
  text-align: left;
  background-color: #C2FFA2;
  margin-top: 20;
  margin: 10 auto 10 auto;
  font-family: cursive;
  margin-left: 10px;
  margin-right: 10px;
}
span {
  background-color: #FF2A00;
}

.devraj {
  position: relative;
  right: 10px
}
h4 {
  text-align: center;
}
